# ignore ALL files
*.qsf
*.qws
*.rpf
*.qdf
*.bak
*.rpt
*.swp
serv_req_info.txt


# Unignore specific files in the ignored directories
!dump_txt.txt
!tb.v

# ignore ALL files in ANY directory named 
db/
incremental_db/
output_files/
simulation/



